/.vs/C_In_Practice/v17/.suo
/.vs/C_In_Practice/v17/Browse.VC.db
/.vs/C_In_Practice/v17/Solution.VC.db
/.vs/C_In_Practice/v17/ipch/AutoPCH/8314b8e229163f36/PERIMETEROFRECTANGLE.ipch
/.vs/C_In_Practice/v17/ipch/AutoPCH/99c84e29882d68c0/MAIN.ipch
/.vs/C_In_Practice/v17/ipch/AutoPCH/a8408c9fd87b9005/PERIMETEROFSQUARE.ipch
/.vs/C_In_Practice/v17/ipch/AutoPCH/a87c0e5c87d0e3e5/DEMO.ipch
/.vs/C_In_Practice/v17/ipch/AutoPCH/a87c135c87d0ec64/DEMO.ipch
/.vs/C_In_Practice/v17/ipch/AutoPCH/aca81367606d0fe1/HELLO.ipch
/.vs/C_In_Practice/v17/ipch/AutoPCH/acbd4f6613f08e03/PERIMETEROFRECTANGLE.ipch
/.vs/C_In_Practice/v17/ipch/AutoPCH/b19ebc96ba3c79f7/DEMO.ipch
/.vs/C_In_Practice/v17/ipch/AutoPCH/c05d64f3793d4bb6/HELLO.ipch
/.vs/C_In_Practice/v17/ipch/AutoPCH/d3e7255b6b8f4145/CH01_INTRO.ipch
/ch01/Practice/bin/Practice.exe
/ch01/Practice/bin/Practice.pdb
/ch01/Practice/x64/Debug/Practice.exe.recipe
/ch01/Practice/x64/Debug/Practice.ilk
/ch01/Practice/x64/Debug/Practice.log
/ch01/Practice/x64/Debug/Practice.tlog/CL.command.1.tlog
/ch01/Practice/x64/Debug/Practice.tlog/CL.read.1.tlog
/ch01/Practice/x64/Debug/Practice.tlog/CL.write.1.tlog
/ch01/Practice/x64/Debug/Practice.tlog/Practice.lastbuildstate
/ch01/Practice/x64/Debug/Practice.tlog/link.command.1.tlog
/ch01/Practice/x64/Debug/Practice.tlog/link.read.1.tlog
/ch01/Practice/x64/Debug/Practice.tlog/link.write.1.tlog
/ch01/Practice/x64/Debug/demo.obj
/ch01/Practice/x64/Debug/perimeterOfSquare.obj
/ch01/Practice/x64/Debug/vc143.idb
/ch01/Practice/x64/Debug/vc143.pdb
/ch01/intro/bin/intro.exe
/ch01/intro/bin/intro.pdb
/ch01/intro/x64/Debug/hello.obj
/ch01/intro/x64/Debug/intro.Build.CppClean.log
/ch01/intro/x64/Debug/intro.exe.recipe
/ch01/intro/x64/Debug/intro.ilk
/ch01/intro/x64/Debug/intro.log
/ch01/intro/x64/Debug/intro.tlog/CL.command.1.tlog
/ch01/intro/x64/Debug/intro.tlog/CL.read.1.tlog
/ch01/intro/x64/Debug/intro.tlog/CL.write.1.tlog
/ch01/intro/x64/Debug/intro.tlog/intro.lastbuildstate
/ch01/intro/x64/Debug/intro.tlog/link.command.1.tlog
/ch01/intro/x64/Debug/intro.tlog/link.read.1.tlog
/ch01/intro/x64/Debug/intro.tlog/link.write.1.tlog
/ch01/intro/x64/Debug/intro.vcxproj.FileListAbsolute.txt
/ch01/intro/x64/Debug/main.obj
/ch01/intro/x64/Debug/perimeterOfRectangle.obj
/ch01/intro/x64/Debug/vc143.idb
/ch01/intro/x64/Debug/vc143.pdb
/ch01/Practice/*.user
/ch01/intro/*.user
/.vs/C_In_Practice/v17/Browse.VC.db-shm
/.vs/C_In_Practice/v17/Browse.VC.db-wal
/.vs/C_In_Practice/v17/Browse.VC.opendb
/.vs/C_In_Practice/v17/Solution.VC.db-shm
/.vs/C_In_Practice/v17/Solution.VC.db-wal
/ch02/basic/*.user
